.display {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}

a {
  text-decoration: none;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 20px;
  color: #0488ff;
  padding-bottom: 57px;
  width: 450px;
}

h3 {
  font-size: 16px;
  color: #000000;
  font-weight: 200;
  // height: 28px;
  margin-top: 8px;
}

h4 {
  font-weight: 200;
  font-size: 16px;
  color: #979797;
  padding-bottom: 9px;
}
