__________________________________________________
<%= link_to "Filters", filters_path %>
__________________________________________________
<br>
<% ExchangeMinor.all.each do |exchange_minor| %>
  <% if exchange_minor.profile.published %>
    <%
      profile = exchange_minor.profile
      minor = exchange_minor.minor
    %>

    <br>
    <%= link_to minor.name, exchange_minor_path(exchange_minor), target: 'blank' %>

    <br>
    whished_minor
    <br>

    <% profile.whished_minors.each do |whished_minor| %>
      <%= Minor.find(whished_minor.id).name %>
      <br>
    <% end %>
  <% end %>
  <br>
<% end %>

<div id="button">Хочу этот майнор</div>
