.T_Landing {
  background: linear-gradient(#cde7ff, #fff);
  height: 100vw;
  width: 100%;
  padding: 0 94px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: image-url('landing/background.png');

  .BannersWrapper {
    margin: 402px auto 0;
    display: flex;

    .M_LandingBanner:nth-child(1) {
      margin-right: 14px;
    }
  }
}
