.T_Landing {
  background: linear-gradient(#cde7ff, #fff);
  height: 100vw;
  width: 100%;
  padding: 0 94px;
  display: flex;
  flex-direction: column;
  position: relative;

  .vave {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 118vw;
    top: 290px;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: overlay;
    background-image: image-url('landing/vave.png');
  }
}
