.A_Button {
  cursor: pointer;
  font-size: 18px;
  line-height: normal;
  &.text {
    line-height: 132%;
    color: var(--blue-sky);
  }
  &.block {
    display: inline-block;
    font-family: 'PT Root UI Bold';
    color: var(--white);
    background-color: var(--blue-sky);
    border-radius: 14px;
    padding: 18px 40px;
  }

  &:active {
    opacity: 0.5;
  }
}
