.A_SelectOption {
  padding: 16px 0px 16px 0px;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: var(--medium-gray);
  display: flex;

  &::before {
    content: '';
    width: 15px;
    height: 15px;
    background-size: cover;
    margin: 0px 12px 0px 1px;
  }

  &.single::before {
    background-image: image-url('unselect.svg');
  }

  &.single.checked::before {
    background-image: image-url('select.svg');
  }
  &.multi::before {
    background-image: image-url('checkboxUnselected.svg');
  }

  &.multi.checked::before {
    background-image: image-url('checkboxSelected.svg');
  }
}
