<h1>ExchangeMinors#show</h1>
<p>Find me in app/views/exchange_minors/show.html.erb</p>

<%= @exchange_minor.minor.name %>
<br>
<div id="button" data-exchangeMinorId="<%= @exchange_minor.id %>">Хочу этот майнор</div>
