#button {
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  background: black;
  color: white;
  line-height: 50px;
  font-family: Helvetica;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
}
